# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
Public/images/*.jpg
Public/images/*.jpeg
Public/images/*.png
Public/images/*.gif
Public/images/*.svg

